.screen {

    background-color: #000000;
    width: 360px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 10px;
    font-family: Calibri;

}

header {

    overflow: hidden;

}

.nav-button {

    background-color: #1F1F1F;
    cursor: pointer;
    display: inline;
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 50%;
    margin: 2px;

}


.r-logo {

    float: left;

}

.search {

    float: right;

}

.notification {

    float: right;

}

.avtar {

    float: right;
    background-color: #FFFFFF;

}

.good {

    padding-top: 45px;

}

.greeting {

    color: #ffffff;
    text-align: start;
    margin: 5px;
    font-size: 16px;
    letter-spacing: px;

}

.name {

    color: #ffffff;
    text-align: start;
    margin: 5px;
    font-size: 28px;

}


.box {

    block-size: 105px;
    inline-size: 150px;
    padding: 12px;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 25px;

}

.box1 {

    background-color: #FF5F76;
    color: #000000;

}

.box2 {

    background-color: #1F1F1F;
    color: #ffffff;

}

.box3 {

    background-color: #1F1F1F;
    color: #ffffff;

}

.box4 {

    background-color: #1F1F1F;
    color: #ffffff;
    text-align: center;

}

.arrow {

    cursor: pointer;
    float: right;
    border: none;
    background-color: transparent;
    height: 55px;
    width: 55px;

}

.plus {

    cursor: pointer;
    float: center;
    border: none;
    background-color: transparent;
    padding-top: 10px;

}


.Balance-1 {
    padding-top: 7px;
    font-weight: bold;
}

.Balance-2 {
    font-size: small;
}

.Balance-3 {
    font-weight: bold;
    padding-top: 35px;
}

.Income-1 {
    padding-top: 7px;
}

.Income-2 {

    color: #DB4E4E;
    font-size: small;
}

.Income-3 {
    padding-top: 35px;
}

.Expense-1 {
    padding-top: 7px;
}

.Expense-2 {

    color: #54D36C;
    font-size: small;

}

.Expense-3 {
    padding-top: 35px;
}

.widget {
    padding-top: 5px;
}

.transaction {
    border-radius: 30px;
    color: #000000;
    background-color: #D6DFEA;
    padding-bottom: 1px;

}

.Transaction-list {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 8px;
}

.see-all {

    background-color: transparent;
    cursor: pointer;
    border: none;

}

.history {
    margin: 10px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paypal {
    height: 55px;
    width: 55px;
    margin: 5px;
}

.from {
    font-size: 17px;
    font-weight: 500;
}

.time {
    font-size: 10px;
    color: #838485;
}

.payment-history {
    padding-right: 80px;
}

.rupees {
    padding-right: 10px;
    font-weight: bold;
}


.dashboard {
    border-radius: 30px;
    background-color: #EEF2F6;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: end;
    margin: 20px;

}

.dash-logo {
    height: 25px;
    width: 25px;
}

.dash-b {
    border: none;
    cursor: pointer;

}

.dash-text {
    color: #FF5F76;
    font-size: 15px;
    padding-right: 65px;
}

.growth {
    height: 30px;
    width: 30px;
}

.growth-b {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: #1F1F1F;
    border-radius: 50%;

}

.wallet {
    height: 40px;
    width: 40px;
}

.wallet-b {
    border: none;
    cursor: pointer;
    background: none;
}